.recipes-page {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0 auto auto auto;
  justify-content: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 60px;
}

.page-title {
  color: lightgrey;
}

.results-box {
  display: grid;
  margin: auto;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px;
  min-width: 700px;
  width: 80vw;
  max-width: 1000px;
  color: lightgrey;
}

.search-wrapper {
  display: block;
  margin: 0 auto 0 auto;
}

.search-bar {
  position: relative;
  display: inline-block;
}

.recipe {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 5px;
}

.recipe:hover {
  cursor: pointer;
}

.recipe > img {
  margin: auto;
  margin-bottom: 5px;
}

.input {
  border-radius: 15px;
  padding: 7px;
}

.icon {
  position: absolute;
  right: 2.5%;
  top: 20%;
  border: none;
  background: none;
}

.icon:hover {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.pn-btns {
  padding-top: 10px;
}

.show-fav-btn {
  width: 150px;
  margin: 10px auto 0 auto;
}

.show-fav-btn:hover {
  cursor: pointer;
}

.detailed-filters,
.active-filters {
  overflow-x: hidden;
  background-color: grey;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  min-width: 150px;
}

.filter-bubble {
  display: inline-block;
  color: black;
  background-color: aqua;
  padding: 5px;
  border: 1px solid lightslategray;
  border-radius: 10px;
}

.filter-bubble:hover {
  cursor: pointer;
}

.filter-type {
  max-height: 150px;
  overflow-y: scroll;
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 3px;
  min-height: 75px;
}

.active-bubble {
  background-color: lightgreen;
}

.filter-type-name {
  text-transform: capitalize;
}

.search-not-found {
  text-align: center;
  color: lightgrey;
}

/* MODAL */
.modal-overlay {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
}

.modal {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(100, 100, 100);
  min-width: 500px;
  width: 50%;
  height: 50vh;
  margin: 20vh auto 0 auto;
  border: 5px solid rgb(146, 146, 146);
  border-radius: 30px;
  padding: 20px;
}

.modal-ingredients > ul > li {
  font-size: 16px;
  padding: 3px;
  text-align: left;
  margin-bottom: 5px;
}

.modal-ingredients > h4 {
  letter-spacing: 0.5px;
}

.modal-ingredients-wrapper > ul:nth-child(1) {
  height: calc(50vh - 75px);
  overflow-y: scroll;
}

.modal-ingredients {
  height: 100%;
  position: relative;
  padding-right: 15px;
}

.modal-ingredients-wrapper {
  max-height: 100%;
}

.modal-ingredients-wrapper > ul:nth-child(1)::-webkit-scrollbar {
  display: none;
}

.modal-allergen-p {
  font-size: 16px;
}

.modal-allergen-p > p:last-child {
  margin-bottom: 15%;
}
